// Variables
@import 'variables';

@import "~chosen-js/chosen.css";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
  padding-top: 90px;
  @media screen and (max-width: 768px) {
    padding-top: 37px;
  }
}

nav {
  background-color: #252529;
}

header .navbar-text  {
  font-weight: 100!important;
  text-transform: uppercase;
  color: white;
  @media screen and (max-width: 768px) {
    font-size: 18px;
    margin-left: -50px!important;
  }
}

.navbar-brand {
  height: 90px;
  padding: auto;
  width: 300px;
  font-size: 48px;
  background-color: black;
  text-align: center;
  @media screen and (max-width: 768px) {
    background: none;
    font-size: 22px;
    padding: 0 10px 0;
    height: auto;
    width: 100px;
    text-align: left;
    margin: 0;
  }
}

header nav img {
  @media screen and (max-width: 768px) {
    height: 60px;
  }
}

header nav h3 {
  margin: 0;
  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
    margin: 10px!important;
  }
}

.login-card {
  padding: $spacer*1.5;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.content {
  padding-left: 300px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.sidebar {
  width: 300px;
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 100;
  @media screen and (max-width: 768px) {
    top: 37px;
    width: 100%;
  }
}

.sidebar li.nav-item {
  height: 90px;
  line-height: 80px;
  font-size: 1.3em;
}

.sidebar li:hover {
  background: rgba(0,0,0,0.2);
}

.sidebar a {
  color: #d9d9d9!important;
}

.sidebar .material-icons {
  padding: 20px;
  font-size: 36px;
  float: left;
  color: rgba(255, 255, 255, 0.3);
}

.sidebar-links {
  height: 50px;
  line-height: 50px;
  background-color: #252529!important;
}

.sidebar-links a {
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
}

.chevron-right {
  font-size: 48px!important;
  height: 0;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translate(-50%,-50%);
  @media screen and (max-width: 768px) {
    font-size: 34px !important;
  }
}

.alert {
  margin-bottom: 0!important;
}

.actions {
  @media screen and (min-width: 767px) {
    margin-top: -46px;
    float: right;
  }
}

.actions .toggle-switch {
}

.actions form {
  display: inline;
}

.actions *:hover {
  text-decoration: none;
}

.notifications .material-icons {
  padding-right: 10px;
  font-size: 36px;
  height: 0;
}

.notifications .text-muted {
  padding-left: 45px;
}

@media screen and (max-width: 768px) {
  ul.nav.nav-tabs li.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ul.nav.nav-tabs li.nav-item a {
    width: 100%;
    border: none;
    color: #000;
    background-color: transparent;
    text-transform: uppercase;
  }

  ul.nav.nav-tabs li.nav-item a.active {
    color: #fff;
    background-color: #000;
    border-radius: 0;
  }

  .account-name {
    font-size: 18px;
  }

  .alert-description {
    width: 80%;
    font-size: 13px;
  }

  #alertForm.w-75 {
    width: 100% !important;
  }
}

.details-item {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 0;
  height: 25px;
}

.detail {
  width: 50%;
}

.details-item .detail:first-child {
  font-weight: bold;
}

li.nav-item.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 4px solid #616161;
}

.sidebar-links .active {
  background-color: rgb(52, 58, 64);
  border-bottom: none;
}

#alertForm label {
  font-weight: bold;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

blockquote p:last-child {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

#change_time_zone .modal-header {
  display: block;
}

.my-modal-base .modal-header {
  display: block;
}
.detail i {
  color: #000000;
}
.detail i:hover {
  color: #343a40;
}
.ribbon {
  position: absolute;
  right: -20px;
  top: -1px;
  z-index: 1;
  overflow: hidden;
  width: 125px;
  height: 125px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 125px;
  display: block;
  background: #343a40;
  position: absolute;
  top: 20px;
  right: -10px;
}
.overflow-x {
  overflow-x: hidden;
}